div {
  font-family: "Ubuntu", "SF Pro", "Helvetica Neue", "Segoe UI", "Roboto",
    "Arial", "WenQuanYi Zen Hei", "文泉驛正黑", "PingFang SC", "Droid Sans",
    "Microsoft JhengHei", "微軟正黑體", "sans-serif";
}
body,
html {
  height: 100%;
  font-size: 16px;
  padding: 0;
  margin: 0;
  min-width: 1024px;
}